.main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    height: 100vh;
    width: 100vw;
}
.middleLeft{
    width: 4vw;
   
}
.middleRight{
    display: flex;
    flex-direction: column;
    
}
.middle{
    display: flex;
    gap: 5vw;
    background-color: #FFF3FA;
    border-radius: 2vh;
    padding: 3vh 3vh 3vh 1vh;
    width: 20vw;
    height: 18vh;
    border:1px solid #FFCCEA;

    
}
.middlebottom{
    display: flex;
    gap: 2vw;
    padding: 2vh 0vh;
    
}
.circle{
    height: 10vh;
    width: 5vw;
    background-color:#FFC9EB;
    border-radius: 50%;
    margin: 1.2vh;

}
.middlelower{
    display: flex;
    gap: 2vh;
}
.middleRight h3{
    padding: 0vh;
    margin: 0vw;
}
.middlebottom h5{
    padding: 1vh 0vh;
    margin: 0vw;
}